@model = DiagnosticWebApp.ViewModels.DiagnoseHomeViewModel
@{
    ViewBag.Title = "Diagnose";
}

<h2>Diagnose</h2>

<p>What symptoms do you have?</p>
<input type="text" name="patientSymptoms"/>
<input type="submit"/>