@{
    ViewBag.Title = "Home Page";
}

<p>Number of diseases:</p>
<p>Three diseases with the most symptoms:</p>
<p>Number of unique symptoms:</p>
<p>Three most popular symptoms:</p>

<div>
    @using (Html.BeginForm())
    {
        <input type="file" name="dataFile"/>
        <br/>
        <input type="submit"/>
    }
</div>