@using System.Activities.Statements
@model DiagnosticWebApp.ViewModels.IndexHomeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Three diseases with the most symptoms:</p>
@foreach (var disease in Model.DiseasesWithMostSymptoms)
{
    <p>
        @Html.DisplayFor(modelItem => disease.DiseaseName)
    </p>
}
<p>Number of unique symptoms:</p>
    <p>
        @Model.Symptoms.Count
    </p>
<p>Three most popular symptoms:</p>
@foreach (var symptom in Model.MostPopularSymptoms)
{
    <p>
        @Html.DisplayFor(modelItem => symptom.SymptomName)
    </p>
}

<h2>Diagnose</h2>
@using (Html.BeginForm("DiagnoseDiseases", "Home", FormMethod.Post))
{
    <p>What symptoms do you have?</p>
    <input type="text" name="symptoms"/>
    <input type="submit"/>
}