@{
    ViewBag.Title = "Home Page";
}

<p>Number of diseases:</p>
<p>Three diseases with the most symptoms:</p>
<p>Number of unique symptoms:</p>
<p>Three most popular symptoms:</p>
<div>
    <form action="http://www.html.am/html-codes/textboxes/submitted.cfm">
<textarea name="myTextBox" cols="50" rows="5">
Enter some text...
</textarea>
        <br />
        <input type="submit" />
    </form>
</div>