@{
    ViewBag.Title = "Upload Page";
}

<p>Upload a .csv file.</p>

<div>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="dataFile" />
        <br />
        <input type="submit" />
    }
</div>