@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<p>
    Number of diseases:
    Three diseases with the most symptoms:
    Number of unique symptoms: 
    Three most popular symptoms:
</p>
<div>
    <form action="http://www.html.am/html-codes/textboxes/submitted.cfm">
<textarea name="myTextBox" cols="50" rows="5">
Enter some text...
</textarea>
        <br />
        <input type="submit" />
    </form>
</div>